ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
 
.color {
  color: red;
}

.Black {
  color: black;
}
 
.note {
    font-size: 20px;
}
 
#id-selector-demo {
   
      color: green;
 
}
 
li {
 initial-value: 4;
  color: blue;
}
*{
     text-align: center;
}
